*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./weather.jpg);
    object-fit: contain;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    font-family: 'Caveat', cursive;
}
.main{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
   justify-content: space-around;
    align-items: center;
   background-color: rgba(0, 0, 0, 0.545);
    border-radius: 2rem;
    gap: 10px;
    font-size: 2rem;
    font-family: 'Abel', sans-serif;
    color: rgba(240, 255, 255, 0.966);
}
#search input, #search button{
   font-size: 1.4rem;
    padding: 1.2rem;
   border-radius: 3rem;
    cursor: pointer;
    color: rgba(240, 248, 255, 0.815);
    transition: all 0.4s ease-out;
    background-color: rgba(0, 0, 0, 0.551);
}
 #search button:hover{
    transform: scale(1.1);
    background-color: white;   
    color: black;
}
#search button{
   background-color: rgba(0, 0, 0, 0.712);
    color: white;
    padding: 1rem;
}
label,h2{
    font-size: 3rem;
    text-transform: capitalize;
    font-family:'Times New Roman', Times, serif;
    font-weight: 400;
}
label{
    padding: 1rem;
}
h1{
    font-size: 4rem;
    color: black;
}
#inner,#weather{
    padding: 1.2rem;
}

